.user-profile {

  margin: auto;
  width: 25em;
  height: 11em;
  background: #fff;
  border-radius: .3em;

  .username {
    margin: -4.40em auto auto 5.80em;
    color: #658585;
    font-size: 1.53em;
    font-family: "Coda", sans-serif;
    font-weight: bold;
  }

  .bio {
    display: inline-block;
    margin: auto auto auto 10.43em;
    color: #e76043;
    font-size: .87em;
    font-family: "varela round", sans-serif;
  }

  & > .description {
    margin: 1.35em 4.43em auto auto;
    width: 14em;
    color: #c0c5c5;
    font-size: .87em;
    font-family: "varela round", sans-serif;
  }

  & > img.avatar {
    padding: .7em;
    margin-left: .3em;
    margin-top: .3em;
    height: 6.23em;
    width: 6.23em;
    border-radius: 18em;
  }
  .data {
    margin: 2em auto;
    height: 5px;
    background: #4eb6b6;
    text-align: center;
    border-radius: 0 0 .3em .3em;
  }

  span {
    font-family: "varela round", sans-serif;
    color: #e3eeee;
    white-space: nowrap;
    font-size: 1.27em;
    font-weight: bold;
    &:hover {
      color: #daebea;
    }
  }
}
